<footer class="my-20">
  <p class="text-center text-sm text-stone-400 font-light">
    Copyright © {new Date().getFullYear()} Winter. All rights reserved. <br class="sm:hidden">
    Made with <span class="text-rose-400">♥</span> using Astro.
  </p>
  
  <div class="flex justify-center gap-4 mt-4">
    <a href="https://github.com/zimza1abim" target="_blank" class="w-8 h-8 flex items-center justify-center rounded-full bg-stone-100 text-stone-400 hover:bg-rose-100 hover:text-rose-500 transition-colors">
        GitHub
    </a>
  </div>
</footer>